[Unit]
Description=Sync users from LDAP to Zitadel regularly

[Timer]
{% if famedly_sync_nightly %}
OnCalendar=*-*-* 11:45:00
RandomizeDelaySec=30m
{% elif famedly_sync_hourly %}
OnCalendar=hourly
{% else %}
OnBootSec=15min
OnUnitActiveSec=15min
{% endif %}

[Install]
WantedBy=timers.target
